body {
    background-color: rgb(160, 159, 150);
}

header {
    text-align: center;
}
h1 {
    font-family: 'Carter One', cursive;
    font-size: 5vw;
    margin: 15px 15px 0 15px;
    color: black;
}
.mainBoard {
    flex: 1;
    justify-content: center;
    
}
.optionButtons {
    margin: 0.6em;
}

.button {
    width: 15vw;
    height: 15vw;
    margin: 0.5em;
    border-radius: 10%;
  }

.rows {
    text-align: center;
}
.green{
    background-color: green;
}
.blue{
    background-color: blue;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
}
.flexWrapper {
    display: flex;
    flex: 1;
}
.difficutlySelect {
    display: flex;
    flex-direction: column;
    flex: 0 25vw;
    background-color: rosybrown;
}
.navHead {
    text-align: center;
    margin-bottom: 5px;
}
#sciencecat {
    align-self: center;
    height: 12vw;
    width: 12vw;
    border-radius: 65%;
}

.subHead {
    margin-top: 0px
}
.topHead {
    margin: 35px 5px 5px 5px;
}
.instructions {
    list-style: none;
    padding: 0px;
    margin: 10px 20px 5px 20px;
}
.headerSub {
    font-family: 'Carter One', cursive;
    font-size: 2vw;
}